{% load static %}

<!doctype html>
<html lang="en">
<head>
    <style>
        .button {
            background-color: transparent;
            border: none;
            color: #D45E5E;
            padding: 3px 5px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 3px 1px;
            cursor: pointer;
        }
    </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href= "{% static 'ToDo/main.css' %}">
  <title>ToDo app</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home-todo'%}">Django ToDo app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="/">All users</a>
                    <a class="nav-item nav-link" href="{% url 'user-todo' user.username %}"> Currently login as {{ user.username}}</a>
                {% else %}
                    <a class="nav-item nav-link" href="/">All users</a>
                {% endif %}

            </div>
            <div class="navbar-nav">
                <!-- kontrola jestli je user prihlasen, pokud ano, vidi logout, jinak vidi Login a register -->
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'user-todo' user.username %}">My Todos</a>
                    <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
                {% endif %}
            </div>
          </div>
      </div>
    </nav>
  </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
              {% block content %}{% endblock content %}
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>