{% extends 'ToDo/base.html'%}

{% block content %}
<a><b>What is your new Todo?</b></a>
    <body>
    <form action="#" method="post">{% csrf_token %}
        <input type="text" name="text" />
        <input type="submit" name="Add" />
    </form>
    </body>
{% endblock content %}