{% extends 'ToDo/base.html'%}

{% block content %}
    <h1>Welcome to the Todo app!</h1>
    <p>
        Below is the list of all users.
        Click on each user to see his Todos
    </p>
    <h2>List of all users</h2>
    <ul>
        {% for user in users %}
            <li><a href="{% url 'user-todo' user.username %}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
    <font size="2">Register to create your Todo list or Login to update your Todos.</font>
{% endblock content %}

