{% extends 'ToDo/base.html'%}

{% block content %}

    {% if view.kwargs.username == user.username %}
        <h1>Welcome to your Todo list</h1>
    {% else %}
        <h1>This is {{ view.kwargs.username }}'s Todo list</h1>
    {% endif %}

    <body>
        {% if view.kwargs.username == user.username %}
            <p>You can mark the Todo done by clicking on it</p>
            <ul>
                {% for todo in object_list %}
                    {% if todo.completed == False %}
                        <form action="/deleteTodo/{{todo.id}}/" method="post">{% csrf_token %}
                            <li>
                                <a href="{% url 'complete-todo' todo.id %}"><font color="212121">{{ todo.text }}</font> </a>
                                <button class="button" name="Delete" type="submit" >- Delete</button>
                            </li>
                        </form>
                    {% else %}
                        <form action="/deleteTodo/{{todo.id}}/" method="post">{% csrf_token %}
                            <li>
                                <a href="{% url 'complete-todo' todo.id %}"><font color="212121"> {{ todo.text }} | <b>Done</b></font></a>
                                <button class="button" name="Delete" type="submit" >- Delete</button>
                            </li>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr />
            <a href="{% url 'create-todo' %}"><font color="7e57c2"> Create new Todo</font></a>
        {% else %}
            <ul>
                {% for todo in object_list %}
                    {% if todo.completed == False %}
                        <li><a> {{ todo.text }}</a></li>
                    {% else %}
                <li><a> {{ todo.text }} | <b>Done</b></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </body>
{% endblock content %}